@import "./variables.scss";
@import "./mixins.scss";
/** Global styles */
/* All ______*/
* {
  outline: none;
  text-decoration: none;
  font-family: "Space Mono", monospace;
  &::before,
  &::after {
    box-sizing: inherit;
  }
}
/* html ______*/
html {
  max-width: 100vw;
  font-size: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  /* body ______*/
  body {
    max-width: 100vw;
    margin: 0;
    padding: 0;
    background: var(--color-body-background);
    color: var(--color-text);
    line-height: 1.3;
    overflow-x: hidden;
    /* Links ______*/
    a,
    a:hover,
    a:visited,
    a:active {
      color: inherit;
      text-decoration: none;
    }
    /* Titles ______*/
    h1,
    h2,
    h3,
    h4,
    .title-span {
      font-family: var(--oswald);
    }
    ul {
      padding-left: 0;
      list-style: none;
    }
    button {
      @include button(var(--color-text));
    }
  }
}

/** Custom styles ___________ */
/* Custom Span for titles ______*/
.title-span {
  display: block;
  color: var(--blue);
  font-family: var(--oswald);
}
/* Custom form ______*/
.custom-form {
  label {
    display: block;
    @include media-max(611.98px) {
      font-size: 1em;
    }
  }
  input {
    width: 280px;
    margin: 10px 0px 25px 30px;
    border: none;
    border-bottom: 2px solid var(--color-dark-border);
    background: transparent;
    color: var(--color-text);
    transition: border-color 0.3s;
    &:focus {
      outline: none;
      border-color: var(--blue);
    }
    @include media-max(611.98px) {
      margin: 20px 0;
    }
  }
  .submit {
    margin-top: 15px;
    text-align: center;
  }
}
.error-feedback {
  display: block;
  color: var(--red);
  margin-bottom: 10px;
  text-align: left;
}
/* Custom links ______*/
.redirection-link {
  margin-top: 30px;
  color: var(--blue);
  text-decoration: underline;
  text-align: center;
  transition: color 0.3s;
  p:hover {
    color: #176cf5;
  }
}
