/* Fonts __________*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto:wght@400;700&family=Space+Mono:wght@400;700&display=swap");
/* Variables __________*/
:root {
  --light-gray: #fafafa;
  --blue: #3b82f6;
  --gray: #2c3138;
  --gray-card: #c4c4c4;
  --white: #ffffff;
  --black: #000000;
  --red: #ec3434;
  --red-alert: rgb(245, 92, 92);
  --oswald: "Oswald", sans-serif;
  --roboto: "Roboto", sans-serif;
  --space-mono: "Space Mono", monospace;

  /* Default theme */

  --color-dark-border: var(--gray);
  --color-light-border: var(--light-gray);
  --color-blue: var(--blue);
  --color-body-background: var(--white);
  --color-text: var(--gray);
  --logo-svg-color: var(--gray);
  --icon-burger: var(--gray);
  --nav-mobile-background: var(--white);
}

[data-theme="darkMode"] {
  --color-dark-border: var(--white);
  --color-light-border: var(--gray);
  --color-body-background: var(--gray);
  --color-text: var(--white);
  --logo-svg-color: var(--white);
  --icon-burger: var(--white);
  --nav-mobile-background: var(--gray);
}
