/* Fonts __________*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto:wght@400;700&family=Space+Mono:wght@400;700&display=swap");
/* Variables __________*/
:root {
  --white: #ffffff;
  --light-white: #fafafa;
  --dark-white: #edecec;
  --dark-gray: #202225;
  --gray: #2f3136;
  --red: #ec3434;
  --blue: #3b82f6;
  --oswald: "Oswald", sans-serif;
  --roboto: "Roboto", sans-serif;
  --space-mono: "Space Mono", monospace;

  /* Default theme */
  --primary-background: var(--white);
  --secondary-background: var(--white);
  --primary-border: var(--dark-gray);
  --secondary-border: var(--light-white);
  --color-text: var(--dark-gray);
  --color-blue: var(--blue);
  --skeleton-background: var(--dark-white);
}

[data-theme="darkMode"] {
  --primary-border: var(--white);
  --secondary-border: var(--dark-gray);
  --primary-background: var(--dark-gray);
  --color-text: var(--white);
  --secondary-background: var(--gray);
  --skeleton-background: var(--gray);
}
